@keyframes profile__animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}





@keyframes scroll {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(3.75rem);
  }
}









/* ========== BREAKPOINTS ========== */
/* For lage devices */
@media screen and (max-width: 992px) {
  .home__contect {
    grid-template-columns: 100px repeat(2, 1fr);
    column-gap: 1.25rem;
  }

  .home__hand {
    width: 26px;
    height: 26px;
  }

  .home__subtitle {
    padding-left: 3.75rem;
    margin-bottom: var(--mb-1);
  }

  .home__subtitle::before {
    width: 42px;
    top: 0.8rem;
  }

  .home__description {
    max-width: initial;
    margin-bottom: var(--mb-0-2);
  }

  .home__img {
    width: 250px;
    height: 250px;
    box-shadow: inset 0 0 0 9px #1cb698;
  }

  .home__scroll {
    margin-left: 7.5rem;
  }


}


/* For medium devices */
@media screen and (max-width: 768px) {
  .home__contect {
    grid-template-columns: 0.5fr 3fr;
    padding-top: 3.5rem;
  }

  .home__img {
    order: initial;
    justify-self: initial;
  }



  .home__img {
    box-shadow: inset 0 0 0 6px #1cb698;
    width: 200px;
    height: 200px;

  }

  .home__scroll {
    display: none;
  }

}

/* For small devices */
@media screen and (max-width: 350px) {
  .home__img {
    width: 180px;
    height: 180px;
  }

  .home__hand {
    width: 22px;
    height: 22px;
  }
}