



/* ========== BREAKPOINTS ========== */
/* For lage devices */
@media screen and (max-width: 992px) {
  .qualification__container {
    margin-left: auto;
    margin-right: auto;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .qualification__container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }
  
}
/* For medium devices */
@media screen and (max-width: 576px) {
  .qualification__sections {
    grid-template-columns: initial;
  }
  .qualification__button {
    margin: 0 var(--mb-0-75);
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
  .qualification__data {
    gap: 0.5rem;
  }

}

