/* For lage devices */
@media screen and (max-width: 992px) {
    .about__constainer {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }

    .about__img {
        width: 220px;
    }

    .about__box {
        padding: 0.75rem 0.5rem;
        background: #fdfdfd;
        color: #040505;
    }
    .about__box:hover {
        background-color: #1CB698;
    }



    .about__info {
        justify-content: center;
    }


}

/* For medium devices */
@media screen and (max-width: 576px) {
    .about__info {
        grid-template-columns: repeat(3, 1fr);
    }

    .about__description {
        padding: 0;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
    .about__info {
        grid-template-columns: repeat(2, 1fr);
    }
}